@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500;700&family=Titillium+Web:wght@200;300;400&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    color:rgba(94, 84, 84, 0.911);
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.main-header {
    background-image: url("/Band Fan Page/img/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.842);
    background-blend-mode: multiply;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    padding: 1% 5%;
    color: white;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.6)
}

.main-nav {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.band-name {
    font-family: 'Recursive', sans-serif;
    font-weight: normal;
    color: white;
    margin: 0;
    font-size: 3em;    
}

.band-name-large {
    padding: 50px 0;
    font-size: 5em;
}

.content-header {
    font-family: 'Recursive', sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.band-image {
    width: 600px;
}

.main-footer {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: .25em 0;
    text-align: center;
}

.main-footer-container {
    display: flex;
    align-items: center;
    padding: 1em;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav a {
    padding: 1em;
}

.footer-nav img{
    width: 60px;
    height: 60px;
}

.btn {
    text-align: center;
    vertical-align: center;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    color: white;
    border: 2px solid rgb(209, 67, 48);
    background-color: rgba(255, 255, 255, 0.349);
    font-size: 1.3em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-play {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    font-size: 2em;
}

.tour {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 2px solid black;
}

.tour-header{
    margin-bottom: 1em;
}

.tour-date {
    font-weight: bold;

}

.tour span{
    margin-right: 20px;
}

.tour-btn {
    border-radius: .5em;
    border: none;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.411);
}

.tour-btn:hover {
    background-color: rgba(255, 0, 0, 0.596);
}

.tour:last-child{
    border-bottom: none;
}

.store-btn {
    border-radius: .5em;
    border: none;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.411);
    font-size: large;
}

.store-btn:hover {
    background-color: rgba(255, 0, 0, 0.596);
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    margin-bottom: 15px;
}

.shop-item-img img{
    height: 250px;
    width: 250px;
}

.shop-item-img {
    margin-bottom: 1em;
}

.shop-item-details{
    display: flex;
    align-items: center;
}

.shop-item-price {
    flex-grow: 1;
    padding-right: 1em; 
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-container {
    max-width: 50%;
}

.store {
    padding-top: 3em;
}

.cart-columns {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgb(53, 53, 53);
    margin-bottom: 25px;
    padding: 10px;
}

.cart-item-column {
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: .8em;
}

.cart-item-column img{
    height: 100px;
    width: 100px;
}

.cart-price-column {
    width: 33%;
    text-align: center;
}


.cart-quantity-column {
    width: 33%;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.6);
}

.cart-quantity {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: .8rem;
    padding-left: 3rem;
}

.cart-item-quantity{
    width: 25%;
    border-color: rgba(255, 0, 0, 0.315);
    border-radius: 20%;
    padding-left: 5%;
}

.cart-btn {
    border-radius: .5em;
    border: none;
    font-weight: bold;
    border: 1px solid rgba(255, 0, 0, 0.849);
    background-color: rgba(255, 0, 0, 0.849);
    padding: .4em;
    font-size: 1rem;
    color:white
}

.cart-btn:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.849);
    border: 1px solid rgba(255, 0, 0, 0.849);
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    margin-bottom: 2em;
}

.cart-total-amt {
    margin-left: 20px;
}

